<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<link href="http://www.youngchou.cn/main.css" rel="stylesheet" type="text/css">
		<title>{{ page.title }}</title>
	</head>
	<body>
		<div style="margin: 2% 5% 2% 5%">
			<table>
                			<tr>
                    				<td width="60%">
                        				<div style="padding: 2% 8% 5% 8%; border: 1px solid LightGrey;">{{ content }}</div>
				                      <div style="margin-top: 5px"></div>
				           </td>
					<td width="16%" valign="top"></td>
               			</tr>
            		</table>
       		</div>
	</body>
	<script type="text/javascript" src="//cdn.bootcss.com/canvas-nest.js/1.0.0/canvas-nest.js"></script>
</html>
